* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    width: 1200px;
    height: 100%;
    padding: 0 32px;
    display: block;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #8F0F8F, #C90CC9) no-repeat;

   

}

.cabecalho {
    font-size: 25px;
    display: flex;
    align-items: center;
    padding: 5px;
    border-bottom: solid 2px rgba(189, 100, 255, .9);
    justify-content: space-between;
    
}

.cabecalho h1 {
    color: whitesmoke;
    text-shadow: 0.1em 0.1em 0.3em black;
}

.menu ul li {
    text-shadow: 0.1em 0.1em 0.3em black;
    display: inline-block;
    align-items: center;
    justify-content: right;
    text-align: center;
    font-size: 20px;
    margin-right: 5px ;
    padding: 6px;
    border-radius: 20px;

}

.menu ul li a {
    color: rgb(181, 238, 230);
    text-decoration: none; 
}

.menu ul li#login, li#regi {
    font-size: 25px;
    padding: 5px 8px;
    background: rgba(245, 245, 245, .6);
}

.menu ul li:hover {
    background-color: rgb(255, 255, 240);
    color: rgb(99, 96, 96);
    opacity: 0.9;
    transition: .3s;
    
}

main {
    display: block;
}

main h2 {
    font-size: 30px;
    color: blanchedalmond;
    text-shadow: 00.1em 0.2em 0.3em black;
    padding: 45px;
    text-align: center;
}

main h3 {
    color: aliceblue;
    font-size: 20px;
    text-shadow: 0.1em 0.2em 0.2em black;
    padding: 15px;
    text-align: center;
}

main p {
    color: whitesmoke;
    font-size: 20px;
    padding-left: 5px;
    text-shadow: black 0.1em 0.2em 0.3em;
    display: inline-flex;
    max-width: 600px;
    margin: 0 auto;

    
}

img {
    max-width: 400px;
}