* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas: "h h" "m a" "f f";
}

body {
    background: linear-gradient(to right, #e640a0, #f083c2) no-repeat;
}
header {
    padding: 0 10px;
    border-bottom: #e640a0 solid 1px;
}

header, h1, ul, li, a {
    background-color: #f083c2;
    grid-area: h;
    
}

header, h1, ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul li {
    display: inline-flex;
}

header ul li a {
    text-decoration: none;
    color: ivory;
    text-shadow: rgb(37, 37, 37) 0.1em 0.1em 0.3em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: blueviolet 0.1em 0.1em 0.3em;
    background-color: rgb(165, 93, 233);
}

header ul li a:hover {
    background-color: rgb(138, 43, 226);
    opacity: 0.8;
    transition: 0.2s;
}

header h1  {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: rgb(248, 204, 204);
    text-shadow: rgb(3, 3, 1) 0.1em 0.1em 0.3em;
}

main {
    grid-area: m;
}

aside {
    grid-area: a;
}

footer {
    grid-area: f;
}